




input{
    margin-bottom: 25px;
    width: 100%;
    background-color: whitesmoke;
    color: teal;
    font-size: 16px;
    padding: 12px;
  
}

::placeholder { 
    color:teal;
    opacity: 1; 
  }

 



body{
    padding: 25px;
    background-color: teal;
}

.container{

    display:flex;
    flex-direction: column;
}


.container img{
height: auto;
width: 100%;
padding-bottom: 25px;
    
}

  .desc{
      display: none;
  }

  



  /* Media queries */
  @media only screen and (min-width: 768px) {

   .container{

    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row; 
    
   }

   .container a {
   
    width: 47%;
    text-align: center;

   }

  }

  @media only screen and (min-width: 1024px){

    .box{

    max-width: 50%;
    margin: auto;
    padding-bottom: 25px;
    }

    body{
    max-width: 1350px;
    margin: auto;    
    }


  .container a {

    width: 23%;
    text-align: center;
  }


  }